tmux/plugins

# Themes
hypr/colors.conf
kitty/theme.conf
mako/colors
rofi/colors.rasi
spicetify/Themes/Sleek/color.ini
waybar/waybar.css
nvim/lua/plugins/theme.lua

# Hyprland machine specific
hypr/monitors.conf
hypr/workspaces.conf

# Nushell history
nushell/history.txt

# Obs Studio
obs-studio
!obs-studio/basic
