* {
  border: none;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  border-radius: 12px;
}

#workspaces {
  margin: 8px;
  border-radius: 4px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 0px 4px;
  border-radius: 4px;
  margin-right: 4px;
}

#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery {
  margin: 8px;
  padding: 0px 8px;
  border-radius: 4px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}

@import "./waybar.css";
