@import "./waybar.css";

* {
  border: none;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: transparent;
  border: 0px;
}

#workspaces {
  margin: 4px;
  border-radius: 12px;
}

#workspaces button {
  color: @primary;
  background-color: @text;
  border: 1px solid @primary;
  min-width: 0;
  padding: 4px 8px;
  border-radius: 12px;
  margin-right: 4px;
}

#workspaces button.active {
  color: @text;
  background-color: @primary;
  padding: 4px 36px;
}

#clock,
#mpris,
#tray,
#custom-docker,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery {
  background-color: @text;
  border: 1px solid @primary;
  color: @primary;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 12px;
}

tooltip {
  background-color: @text;
  border: 1px solid @primary;
  padding: 2px;
}

tooltip label {
  color: @primary;
  padding: 2px;
}
